<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-md-4">
      <h1 class="text-center">Editar Flat</h1>
      <%= render "flats/form" %>

      <%= link_to "Voltar para a lista de Flats", flat_path, class: "btn btn-info rounded mt-3" %>
    </div>
  </div>
</div>
