<h1>Lista de flats</h1>

<% @flats.each do |flat| %>
  <div class="flat">
    <h2><%= link_to flat.title, flat %></h2>
    <p><strong>Preço:</strong> <%= number_to_currency(flat.price) %></p>
<p><%= link_to "Ver mais", flat %></p>
 </div>
 <% end %>
