<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-md-4">
      <h1 class="text-center">New booking</h1>
      <%= render "form", booking: @booking %>
      <%= link_to "Back to Flats", flat_path(@flat) %>
    </div>
  </div>
</div>
